#container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 5px;

    .pokedexSection {
        padding-top: 20px;
        .imgPokedex {
            border-bottom: 2px solid black;
            min-height: 100px;
            max-height: 100px;

            img {
                width: 40%;
                height: 95px;
            }
        }


        p {
            font-weight: bold;
            bottom: -10px;
            position: relative;
            font-size: 1.1rem;
            margin-top: -5px;
            font-family: 'GloriaHallelujah-Regular';
        }
    }

}