ion-content {
    --background: url('../../../assets/images/backgroundPokedex.jpg') no-repeat 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nameAndImgSection {
    text-align: center;
    margin-top: -5%;

    h1 {
        color: white;
        font-size: 2.5em;
        font-family: 'GloriaHallelujah-Regular';
    }

    .imgInfo {
        display: inline-flex;
        gap: 15px;

        img {
            border: 2px solid black;
            border-radius: 20%;
            padding: 1em;
            min-width: 140px;
            background-color: rgba(255, 255, 255, 0.6);
            max-height: 150px;
        }
    }
}


.typeInfoSection {
    display: inline-flex;
    margin-top: 15px;
    margin-left: 10%;

    .typeText {
        top: 270px;

        span {
            font-size: 1.35rem;
            color: white;
            font-family: monospace;
            padding: 5px 10px 5px 10px;
            border-radius: 15px;
            margin-left: 15px;
            font-weight: bold;

            &.fire {
                background-color: #E52829;
            }

            &.normal {
                background-color: #9FA19F;
                color: black;
            }

            &.water {
                background-color: #2980EF;
            }

            &.flying {
                background-color: #81B9EF;
            }

            &.fighting {
                background-color: #FF8000;
            }

            &.grass {
                background-color: #3FA129;
            }

            &.poison {
                background-color: #9141CB;
            }

            &.electric {
                background-color: #FAC000;
                color: black;
            }

            &.ground {
                background-color: #905021;
            }

            &.psychic {
                background-color: #EF4179;
            }

            &.rock {
                background-color: #AFA981;
            }

            &.ice {
                background-color: #3DCEF3;
            }

            &.bug {
                background-color: #91A119;
            }

            &.dragon {
                background-color: #5060E1;
            }

        }
    }

}


.descriptionSection {
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    padding: 0.5em 1em;
    // white-space: normal;

    background: rgba(255, 255, 255, 0.4);

    p {
        white-space: pre-wrap;
        color: black;
        font-size: larger;
    }
}


#container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    // grid-gap: 10px;
    padding: 10% 2% 10% 2%;

    .pokedexSection {
        padding-top: 20px;
        background: rgba(255, 255, 264, 0.4);
        border-radius: 10%;
        border: 2px solid black;
        margin: 0.5em;
        -webkit-box-shadow: inset 5px 10px 20px 4px rgba(0, 0, 0, 0.62);
        -moz-box-shadow: inset 5px 10px 20px 4px rgba(0, 0, 0, 0.62);
        box-shadow: inset 5px 10px 20px 4px rgba(0, 0, 0, 0.62);
    }

    .imgPokedex {
        // border-bottom: 2px solid black;
        min-height: 90px;
        max-height: 100px;

        img {
            min-width: 30%;
            max-width: 45%;
            min-height: 5em;
            max-height: 8em;
        }
    }


    p {
        font-weight: bold;
        bottom: -10px;
        position: relative;
        font-size: 1.1rem;
        margin-top: -5px;
        font-family: 'GloriaHallelujah-Regular';
        background: #b0b2b2;
        border: 2px solid black;
        border-radius: 25px;
    }
}