ion-content {
    --background: url('../../../assets/images/backgrounds_for_battle/forest2.jpg') no-repeat 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}